.DS_Store
.idea
*.log
tmp/

*.tern-port
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.tsbuildinfo
.npm
.eslintcache

.parcel-cache
dist/
src/dist/
src/dev-dist/

# Worker
worker/.venv/
worker/.env
worker/**/__pycache__/
worker/.pytest_cache/
